@model Cinema.Models.DataBaseModels.Session

@{
    ViewData["Title"] = "Edit Session";
}
@if (User.IsInRole("Admin"))
{
    <h1>Edit Session</h1>

    <form asp-action="EditSession">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label>Movie</label>
            <select asp-for="MovieId" class="form-control" asp-items="ViewBag.Movies"></select>
        </div>
        <div class="form-group">
            <label>Hall</label>
            <select asp-for="HallId" class="form-control" asp-items="ViewBag.Halls"></select>
        </div>
        <div class="form-group">
            <label>Start Time</label>
            <input asp-for="StartTime" type="datetime-local" class="form-control" required />
        </div>
        <div class="form-group">
            <label>End Time</label>
            <input asp-for="EndTime" type="datetime-local" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}

